In [21]:
import pandas as pd
from scipy.stats import shapiro, levene, ttest_ind

In [23]:
dataframe_control=pd.read_excel(r"C:\Users\Ali\Desktop\PROJECTS\ABTesti\ab_testing.xlsx", sheet_name="Control Group")
dataframe_test=pd.read_excel(r"C:\Users\Ali\Desktop\PROJECTS\ABTesti\ab_testing.xlsx", sheet_name="Test Group")

df_control=dataframe_control.copy()
df_test=dataframe_test.copy()

In [30]:
def check_df(dataframe):
    print(dataframe.shape)
    print(dataframe.head())
    print(dataframe.tail())
    print(dataframe.isnull().sum())
    print(dataframe.quantile([0,0.05,0.50,0.95,0.99,1]).T)
    
check_df(df_control)
print("**********************************EMPTY***************************************")
check_df(df_test)

(40, 4)
      Impression        Click    Purchase      Earning
0   82529.459271  6090.077317  665.211255  2311.277143
1   98050.451926  3382.861786  315.084895  1742.806855
2   82696.023549  4167.965750  458.083738  1797.827447
3  109914.400398  4910.882240  487.090773  1696.229178
4  108457.762630  5987.655811  441.034050  1543.720179
       Impression        Click    Purchase      Earning
35  132064.219003  3747.157544  551.072406  2256.975589
36   86409.941796  4608.256205  345.046033  1781.357690
37  123678.934234  3649.073787  476.168128  2187.721217
38  101997.494099  4736.353369  474.613537  2254.563834
39  121085.881220  4285.178608  590.406020  1289.308948
Impression    0
Click         0
Purchase      0
Earning       0
dtype: int64
                    0.00          0.05          0.50           0.95  \
Impression  45475.942965  79412.017920  99790.701078  132950.532455
Click        2189.753157   3367.484257   5001.220602    7374.361202
Purchase      267.028943    328.662425    531.206307     748.270761
Earning      1253.989525   1329.577082   1975.160522    2318.528498

                     0.99           1.00
Impression  143105.791105  147539.336329
Click         7761.795112    7959.125069
Purchase       790.187785     801.795020
Earning       2481.308737    2497.295218
**********************************EMPTY***************************************
(40, 4)
      Impression        Click    Purchase      Earning
0  120103.503796  3216.547958  702.160346  1939.611243
1  134775.943363  3635.082422  834.054286  2929.405820
2  107806.620788  3057.143560  422.934258  2526.244877
3  116445.275526  4650.473911  429.033535  2281.428574
4  145082.516838  5201.387724  749.860442  2781.697521
       Impression        Click    Purchase      Earning
35   79234.911929  6002.213585  382.047116  2277.863984
36  130702.239410  3626.320072  449.824592  2530.841327
37  116481.873365  4702.782468  472.453725  2597.917632
38   79033.834921  4495.428177  425.359102  2595.857880
39  102257.454089  4800.068321  521.310729  2967.518390
Impression    0
Click         0
Purchase      0
Earning       0
dtype: int64
                    0.00          0.05           0.50           0.95  \
Impression  79033.834921  83150.503777  119291.300775  153178.691063
Click        1836.629861   2600.361018    3931.359804    5271.186906
Purchase      311.629515    356.695400     551.355732     854.208945
Earning      1939.611243   2080.976213    2544.666107    2931.311449

                     0.99           1.00
Impression  158245.263797  158605.920483
Click         6012.877296    6019.695079
Purchase       876.576104     889.910460
Earning       3091.940894    3171.489708

In [34]:
df_control["group"]="control"
df_test["group"]="test"

df=pd.concat([df_control, df_test], axis=0, ignore_index=True)
df.head()
df.tail()

       Impression        Click    Purchase      Earning group
75   79234.911929  6002.213585  382.047116  2277.863984  test
76  130702.239410  3626.320072  449.824592  2530.841327  test
77  116481.873365  4702.782468  472.453725  2597.917632  test
78   79033.834921  4495.428177  425.359102  2595.857880  test
79  102257.454089  4800.068321  521.310729  2967.518390  test

In [35]:
# H0= Kontrol vve test grubu satın alma ortalamaları arasında fark yoktur.
# H1= Kontrol vve test grubu satın alma ortalamaları arasında fark vardır.
df.groupby("group").agg({"Purchase": "mean"})

           Purchase
group
control  550.894059
test     582.106097

In [36]:
test_stat, pvalue = shapiro(df.loc[df["group"] == "control", "Purchase"])
print("Test stat= %.4f, pvalue= %.4f" %(test_stat, pvalue))
#p>0.05 H0 reddedilemez.

Test stat= 0.9773, pvalue= 0.5891

In [37]:
test_stat, pvalue = shapiro(df.loc[df["group"] == "test", "Purchase"])
print("Test stat= %.4f, pvalue= %.4f" %(test_stat, pvalue))
#H0 reddedilemez.

Test stat= 0.9589, pvalue= 0.1541

In [40]:
test_stat, pvalue = levene(df.loc[df["group"] == "control", "Purchase"],
                          df.loc[df["group"] == "test", "Purchase"])
print("Test stat= %.4f, pvalue= %.4f" %(test_stat, pvalue))
#p<0.05 H0 reddedilemez. Varyans homojenliği sağlanıyor.

Test stat= 2.6393, pvalue= 0.1083

In [41]:
test_stat, pvalue = ttest_ind(df.loc[df["group"] == "control", "Purchase"],
                          df.loc[df["group"] == "test", "Purchase"],
                          equal_var=True)
print("Test stat= %.4f, pvalue= %.4f" %(test_stat, pvalue))
#p>0.05 H0 reddedilemez. Varyans homojenliği sağlanıyor.

Test stat= -0.9416, pvalue= 0.3493

In [ ]:
# İlk önce iki gruba da normallik testi uygulandı. İki grubun da normal dağılıma uyduğu gözlemlendiğinden
# ikinci varsayıma geçilerek varyansın homojenliği incelenmiştir. Varyanslar homojen çıktığından
# "Bağımsız İki Örneklem T Testi" uygulanmıştır. Uygulama sonucunda p-değerinin 0.95'ten büyük olduğu gözlenmiştir 
# ve HO hipotezi reddedilememistir.

#Satın alma anlamında anlamlı bir fark olmadığından müşteri iki yöntemden birini seçebilir fakat burada diğer istatistiklerdeki
# farklılıklar da önem arz edecektir. Tıklanma, Etkileşim, Kazanç ve Dönüşüm Oranlarındaki farklılıklar değerlendirilip hangi
# yöntemin daha kazançlı olduğu tespit edilebilir. Özellikle Facebook'a tıklama başına para ödendiği için hangi yöntende tıklanma
# oranın daha düşük olduğu tespit edilip ve CTR (Click Through Rate- Tıklama Oranı) oranına bakılabilir.
# iki grup gözlenmeye devam edilir