In [1]:
import pandas as pd

In [3]:
df= pd.read_excel(r"C:\Users\Ali\Desktop\Veri\miuul_gezinomi.xlsx")

In [4]:
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low

In [5]:
df["SaleCityName"].unique()

array(['Antalya', 'İzmir', 'Diğer', 'Aydın', 'Muğla', 'Girne'],
      dtype=object)

In [9]:
df["SaleCityName"].value_counts()

SaleCityName
Antalya    31649
Muğla      10662
Aydın      10646
Diğer       3245
İzmir       2507
Girne        455
Name: count, dtype: int64

In [10]:
df["ConceptName"].nunique()

3

In [11]:
df["ConceptName"].value_counts()

ConceptName
Herşey Dahil      53186
Yarım Pansiyon     3559
Oda + Kahvaltı     2419
Name: count, dtype: int64

In [14]:
df.groupby("SaleCityName").agg({"Price": "sum"})

                     Price
SaleCityName
Antalya       2.041911e+06
Aydın         5.732960e+05
Diğer         1.545723e+05
Girne         2.706503e+04
Muğla         6.658422e+05
İzmir         1.659348e+05

In [15]:
df.groupby("ConceptName").agg({"Price": "sum"})

                       Price
ConceptName
Herşey Dahil    3.332911e+06
Oda + Kahvaltı  1.213084e+05
Yarım Pansiyon  1.744024e+05

In [17]:
df.groupby("SaleCityName").agg({"Price": "mean"})

                  Price
SaleCityName
Antalya       64.521474
Aydın         53.855896
Diğer         47.707497
Girne         59.483579
Muğla         62.461746
İzmir         66.267905

In [18]:
df.groupby("ConceptName").agg({"Price": "mean"})

                    Price
ConceptName
Herşey Dahil    62.672260
Oda + Kahvaltı  50.252010
Yarım Pansiyon  49.030742

In [19]:
df.groupby(["ConceptName","SaleCityName"]).agg({"Price": "mean"})

                                 Price
ConceptName    SaleCityName
Herşey Dahil   Antalya       64.519028
               Aydın         53.995467
               Diğer         84.771093
               Girne         97.680970
               Muğla         63.020053
               İzmir         74.701519
Oda + Kahvaltı Antalya       63.504816
               Aydın         34.458787
               Diğer         37.599082
               Girne         39.775536
               Muğla         59.037763
               İzmir         41.320342
Yarım Pansiyon Antalya       67.190613
               Aydın         30.016543
               Diğer         42.113440
               Girne         53.247838
               Muğla         45.120924
               İzmir         59.610053

In [24]:
df

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low
...,...,...,...,...,...,...,...,...,...
59159,51817,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,279,Low
59160,51816,2016-01-05,2016-10-10,54.304636,Herşey Dahil,Antalya,Monday,279,Low
59161,51814,2016-01-05,2016-01-06,40.562914,Herşey Dahil,Diğer,Wednesday,1,Low
59162,51736,2016-01-04,2016-01-05,69.847682,Yarım Pansiyon,Diğer,Tuesday,1,Low
59163,51731,2016-01-04,2016-08-22,158.940397,Herşey Dahil,Antalya,Monday,231,High

In [27]:
bins=[-1,7,30,90,df["SaleCheckInDayDiff"].max()]
labels=["Last Minuters", "Potential Planners", "Planners", "Early Bookers"]

In [30]:
df["EB_Score"]=pd.cut(df["SaleCheckInDayDiff"],bins,labels=labels)
df.head()

,SaleId,SaleDate,CheckInDate,Price,ConceptName,SaleCityName,CInDay,SaleCheckInDayDiff,Seasons,EB_Score
0,415122,2022-12-03,2022-12-03,79.304029,Herşey Dahil,Antalya,Saturday,0,Low,Last Minuters
1,415103,2022-12-03,2022-12-03,45.970696,Yarım Pansiyon,Antalya,Saturday,0,Low,Last Minuters
2,404034,2022-09-12,2022-09-13,77.838828,Herşey Dahil,Antalya,Tuesday,1,High,Last Minuters
3,415094,2022-12-03,2022-12-10,222.710623,Yarım Pansiyon,İzmir,Saturday,7,Low,Last Minuters
4,414951,2022-12-01,2022-12-03,140.476190,Yarım Pansiyon,İzmir,Saturday,2,Low,Last Minuters

In [43]:
df.groupby(["SaleCityName","ConceptName","EB_Score"]).agg({"Price":["mean","count"]})

                                                    Price
                                                     mean  count
SaleCityName ConceptName    EB_Score
Antalya      Herşey Dahil   Last Minuters       62.752916  14148
                            Potential Planners  64.903700   8874
                            Planners            67.879960   4490
                            Early Bookers       66.494885   3281
             Oda + Kahvaltı Last Minuters       65.353740    503
...                                                   ...    ...
İzmir        Oda + Kahvaltı Early Bookers       66.928111      3
             Yarım Pansiyon Last Minuters       57.788126    636
                            Potential Planners  64.804043    198
                            Planners            60.507887     47
                            Early Bookers       65.905583     14

[72 rows x 2 columns]

In [44]:
df.groupby(["SaleCityName","ConceptName","Seasons"]).agg({"Price":["mean","count"]})

                                          Price
                                           mean  count
SaleCityName ConceptName    Seasons
Antalya      Herşey Dahil   High      64.920065  27126
                            Low       61.552427   3667
             Oda + Kahvaltı High      66.267969    303
                            Low       60.666730    295
             Yarım Pansiyon High      73.259029    118
                            Low       62.001678    138
Aydın        Herşey Dahil   High      54.946560  10103
                            Low       33.680699    473
             Oda + Kahvaltı High      30.387530     27
                            Low       44.451874     11
             Yarım Pansiyon High      32.626152     20
                            Low       25.271799     11
Diğer        Herşey Dahil   High      83.787273    364
                            Low       87.310882    141
             Oda + Kahvaltı High      34.839543    349
                            Low       39.959569    408
             Yarım Pansiyon High      39.731916    516
                            Low       42.953978   1462
Girne        Herşey Dahil   High     103.935448     55
                            Low       90.935944     51
             Oda + Kahvaltı High      39.479630     66
                            Low       40.043067     73
             Yarım Pansiyon High      58.383668    100
                            Low       48.578903    110
Muğla        Herşey Dahil   High      63.384036   9582
                            Low       48.304086    237
             Oda + Kahvaltı High      61.264691    592
                            Low       37.774192     62
             Yarım Pansiyon High      45.823698    177
                            Low       32.681812     10
İzmir        Herşey Dahil   High      74.748363   1234
                            Low       74.308287    147
             Oda + Kahvaltı High      54.141797     86
                            Low       33.555235    142
             Yarım Pansiyon High      87.657303    118
                            Low       55.350626    777

In [45]:
df.groupby(["SaleCityName","ConceptName","CInDay"]).agg({"Price":["mean","count"]})

                                           Price
                                            mean count
SaleCityName ConceptName    CInDay
Antalya      Herşey Dahil   Friday     62.658940  4136
                            Monday     63.259143  6831
                            Saturday   64.415526  4741
                            Sunday     65.849177  3818
                            Thursday   62.892734  3898
...                                          ...   ...
İzmir        Yarım Pansiyon Saturday   52.504725   315
                            Sunday     98.934697    68
                            Thursday   52.484894    91
                            Tuesday    56.141381    73
                            Wednesday  54.064392    86

[126 rows x 2 columns]

In [54]:
agg_df= df.groupby(["SaleCityName","ConceptName","Seasons"]).agg({"Price":"mean"}).sort_values("Price",ascending=False)
agg_df.head(20)

                                          Price
SaleCityName ConceptName    Seasons
Girne        Herşey Dahil   High     103.935448
                            Low       90.935944
İzmir        Yarım Pansiyon High      87.657303
Diğer        Herşey Dahil   Low       87.310882
                            High      83.787273
İzmir        Herşey Dahil   High      74.748363
                            Low       74.308287
Antalya      Yarım Pansiyon High      73.259029
             Oda + Kahvaltı High      66.267969
             Herşey Dahil   High      64.920065
Muğla        Herşey Dahil   High      63.384036
Antalya      Yarım Pansiyon Low       62.001678
             Herşey Dahil   Low       61.552427
Muğla        Oda + Kahvaltı High      61.264691
Antalya      Oda + Kahvaltı Low       60.666730
Girne        Yarım Pansiyon High      58.383668
İzmir        Yarım Pansiyon Low       55.350626
Aydın        Herşey Dahil   High      54.946560
İzmir        Oda + Kahvaltı High      54.141797
Girne        Yarım Pansiyon Low       48.578903

In [56]:
agg_df.reset_index(inplace=True)
agg_df

   SaleCityName     ConceptName Seasons       Price
0         Girne    Herşey Dahil    High  103.935448
1         Girne    Herşey Dahil     Low   90.935944
2         İzmir  Yarım Pansiyon    High   87.657303
3         Diğer    Herşey Dahil     Low   87.310882
4         Diğer    Herşey Dahil    High   83.787273
5         İzmir    Herşey Dahil    High   74.748363
6         İzmir    Herşey Dahil     Low   74.308287
7       Antalya  Yarım Pansiyon    High   73.259029
8       Antalya  Oda + Kahvaltı    High   66.267969
9       Antalya    Herşey Dahil    High   64.920065
10        Muğla    Herşey Dahil    High   63.384036
11      Antalya  Yarım Pansiyon     Low   62.001678
12      Antalya    Herşey Dahil     Low   61.552427
13        Muğla  Oda + Kahvaltı    High   61.264691
14      Antalya  Oda + Kahvaltı     Low   60.666730
15        Girne  Yarım Pansiyon    High   58.383668
16        İzmir  Yarım Pansiyon     Low   55.350626
17        Aydın    Herşey Dahil    High   54.946560
18        İzmir  Oda + Kahvaltı    High   54.141797
19        Girne  Yarım Pansiyon     Low   48.578903
20        Muğla    Herşey Dahil     Low   48.304086
21        Muğla  Yarım Pansiyon    High   45.823698
22        Aydın  Oda + Kahvaltı     Low   44.451874
23        Diğer  Yarım Pansiyon     Low   42.953978
24        Girne  Oda + Kahvaltı     Low   40.043067
25        Diğer  Oda + Kahvaltı     Low   39.959569
26        Diğer  Yarım Pansiyon    High   39.731916
27        Girne  Oda + Kahvaltı    High   39.479630
28        Muğla  Oda + Kahvaltı     Low   37.774192
29        Diğer  Oda + Kahvaltı    High   34.839543
30        Aydın    Herşey Dahil     Low   33.680699
31        İzmir  Oda + Kahvaltı     Low   33.555235
32        Muğla  Yarım Pansiyon     Low   32.681812
33        Aydın  Yarım Pansiyon    High   32.626152
34        Aydın  Oda + Kahvaltı    High   30.387530
35        Aydın  Yarım Pansiyon     Low   25.271799

In [60]:
agg_df["sales_level_based"]=agg_df[["SaleCityName","ConceptName","Seasons"]].agg(lambda x: "_".join(x), axis=1)
agg_df

,SaleCityName,ConceptName,Seasons,Price,sales_level_based
0,Girne,Herşey Dahil,High,103.935448,Girne_Herşey Dahil_High
1,Girne,Herşey Dahil,Low,90.935944,Girne_Herşey Dahil_Low
2,İzmir,Yarım Pansiyon,High,87.657303,İzmir_Yarım Pansiyon_High
3,Diğer,Herşey Dahil,Low,87.310882,Diğer_Herşey Dahil_Low
4,Diğer,Herşey Dahil,High,83.787273,Diğer_Herşey Dahil_High
5,İzmir,Herşey Dahil,High,74.748363,İzmir_Herşey Dahil_High
6,İzmir,Herşey Dahil,Low,74.308287,İzmir_Herşey Dahil_Low
7,Antalya,Yarım Pansiyon,High,73.259029,Antalya_Yarım Pansiyon_High
8,Antalya,Oda + Kahvaltı,High,66.267969,Antalya_Oda + Kahvaltı_High
9,Antalya,Herşey Dahil,High,64.920065,Antalya_Herşey Dahil_High
10,Muğla,Herşey Dahil,High,63.384036,Muğla_Herşey Dahil_High
11,Antalya,Yarım Pansiyon,Low,62.001678,Antalya_Yarım Pansiyon_Low
12,Antalya,Herşey Dahil,Low,61.552427,Antalya_Herşey Dahil_Low
13,Muğla,Oda + Kahvaltı,High,61.264691,Muğla_Oda + Kahvaltı_High
14,Antalya,Oda + Kahvaltı,Low,60.666730,Antalya_Oda + Kahvaltı_Low
15,Girne,Yarım Pansiyon,High,58.383668,Girne_Yarım Pansiyon_High
16,İzmir,Yarım Pansiyon,Low,55.350626,İzmir_Yarım Pansiyon_Low
17,Aydın,Herşey Dahil,High,54.946560,Aydın_Herşey Dahil_High
18,İzmir,Oda + Kahvaltı,High,54.141797,İzmir_Oda + Kahvaltı_High
19,Girne,Yarım Pansiyon,Low,48.578903,Girne_Yarım Pansiyon_Low
20,Muğla,Herşey Dahil,Low,48.304086,Muğla_Herşey Dahil_Low
21,Muğla,Yarım Pansiyon,High,45.823698,Muğla_Yarım Pansiyon_High
22,Aydın,Oda + Kahvaltı,Low,44.451874,Aydın_Oda + Kahvaltı_Low
23,Diğer,Yarım Pansiyon,Low,42.953978,Diğer_Yarım Pansiyon_Low
24,Girne,Oda + Kahvaltı,Low,40.043067,Girne_Oda + Kahvaltı_Low
25,Diğer,Oda + Kahvaltı,Low,39.959569,Diğer_Oda + Kahvaltı_Low
26,Diğer,Yarım Pansiyon,High,39.731916,Diğer_Yarım Pansiyon_High
27,Girne,Oda + Kahvaltı,High,39.479630,Girne_Oda + Kahvaltı_High
28,Muğla,Oda + Kahvaltı,Low,37.774192,Muğla_Oda + Kahvaltı_Low
29,Diğer,Oda + Kahvaltı,High,34.839543,Diğer_Oda + Kahvaltı_High
30,Aydın,Herşey Dahil,Low,33.680699,Aydın_Herşey Dahil_Low
31,İzmir,Oda + Kahvaltı,Low,33.555235,İzmir_Oda + Kahvaltı_Low
32,Muğla,Yarım Pansiyon,Low,32.681812,Muğla_Yarım Pansiyon_Low
33,Aydın,Yarım Pansiyon,High,32.626152,Aydın_Yarım Pansiyon_High
34,Aydın,Oda + Kahvaltı,High,30.387530,Aydın_Oda + Kahvaltı_High
35,Aydın,Yarım Pansiyon,Low,25.271799,Aydın_Yarım Pansiyon_Low